icons/watermelon.drawio.svg
icons/opaque/book-open-solid.svg
icons/opaque/clipboard-list-solid.svg
icons/opaque/envelope-solid.svg
icons/opaque/github-alt.svg
icons/opaque/google-scholar.svg
icons/opaque/linkedin.svg
icons/opaque/map-location-solid.svg
icons/opaque/x-twitter.svg
icons/solid/book-open-solid.svg
icons/solid/clipboard-list-solid.svg
icons/solid/envelope-solid.svg
icons/solid/github-alt.svg
icons/solid/google-scholar.svg
icons/solid/linkedin.svg
icons/solid/map-location-solid.svg
icons/solid/x-twitter.svg
