ul {
    display: flex;
    list-style-type: none;
    margin: 0%;
}

li{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

img {    
    max-width: 75%;
    max-height: 75%;
}

.semicircle {
    clip-path: ellipse(5vh 100% at 50% 0);
    /* rotate: 135deg; */
}

.top_bar{
    height: 30%;
    background-color: #023047;
    color: white;
    font-size: 500%;
    font-weight: bolder;
    display: flex;
    text-align: center;
    place-content: center;
}

.projects_header {
    background-color: #FF1744;
    margin: 0%;
    color: white;
    font-weight: bold;
    text-align: center;
    place-content: center;
    align-items: center;
    display: flex; 
    font-size: 200%;
    height: 9%;
    /* padding-top: 1%; */
}

.icons {
    height: 100%;
}

.icon_img {
    height: 10vh;
    width: 10vh;
    cursor: pointer;
}

.links {
    display: flex;
    text-align: center;
    place-content: center;
}

.center {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 22fr 2fr;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 1em 0;
    padding: 0;
}

#li_pad {
    /* padding-top: 1%; */
    padding-left: 30%;
}

.nav_bar {
    background-color: #FB8500;
    color: white;
    padding: 5%;
    text-align: right;
    padding-left: 15%;
    padding-right: 10%;
    font-weight:500;
    font-size: 110%;
}


footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #023047;
    color: white;
    font-size: 90%;
    font-weight: bold;
    padding-top: 4%;
    padding-left: 20%;
    text-align: center;
    place-content: center;
    /* background-color: white; */
    mask-border: ellipse(5vh 100% at 5vh 0);
    -webkit-background-clip: padding-box; /* For Safari/Chrome */
    background-clip: padding-box; /* Apply background-clip to have different styling inside and outside */
    overflow: hidden; /* Ensure content outside the clip-path is hidden */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
    border: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
}