.vertical_lists{
    margin: 0%;
    padding: 0%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* [data-theme="light"] {
    --top-bar: #023047;
    --bar-font-color: #095C85;
    --project: #FF1744;
    --project-font-color: #6B1313;
    --nav-bar: #FB8500;
    --nav-font-color: #b56100;
    --background: white;
    --footer-bar: #023047;
    --footer-font-color: #095C85;
} */

html {
    overflow-y: scroll;
    /* overflow-x: scroll; */
}

[data-theme="light"] {
    --top-bar: #023047;
    --bar-font-color: white;
    --project: #FB8500;
    --project-font-color: white;
    --nav-bar: #347fa4;
    --nav-font-color: white;
    /* --background: #97d9f7; */
    --background: beige;
    --highlights: #FB8500;
    --footer-bar: #023047;
    --footer-font-color: white;
    --CPP-color: #044F88;
    --scanning-color: #800080;
    --Python-color: #0000FF; 
    --ROS-color: #2F4F4F;
    --Cuda-color: #76B900;
    --sklearn-color: orange;
    --pytorch-color: red;
    --pytorchG-color: rgb(184, 0, 92);
    --imfusion: #008080;
    --border-colors: #023047;
} 

/* [data-theme="light"] {
    --top-bar: #023047;
    --bar-font-color: white;
    --project: #FF1744;
    --project-font-color: white;
    --nav-bar: #FB8500;
    --nav-font-color: white;
    --background: beige;
    --highlights: #FF1744;
    --footer-bar: #023047;
    --footer-font-color: white;
    --CPP-color: #044F88;
    --scanning-color: #800080;
    --Python-color: #0000FF; 
    --ROS-color: #2F4F4F;
    --Cuda-color: #76B900;
    --sklearn-color: orange;
    --pytorch-color: red;
    --pytorchG-color: rgb(184, 0, 92);
    --imfusion: #008080;
    --border-colors: black;
}  */

[data-theme="dark"] {
    --top-bar: #000000;
    --bar-font-color: white;
    --project: #FB2576;
    --project-font-color: white;
    --nav-bar: #383838;
    --nav-font-color: white;
    --background: #0000006b;
    --highlights: #FB2576;
    --footer-bar: #000000;
    --footer-font-color: white;
    --CPP-color: #044F88;
    --scanning-color: #800080;
    --Python-color: #0000FF; 
    --ROS-color: #2F4F4F;
    --Cuda-color: #76B900;
    --sklearn-color: darkorange;
    --pytorch-color: red;
    --pytorchG-color: rgb(184, 0, 92);
    --imfusion: #008080;
    --border-colors: white;

}

.horizontal_lists{
    display: flex;
    list-style-type: none;
    margin: 0%;
    text-align: center;
    place-content: center;
}
#title {
    font-size: 7vw;
    /* font-size: calc(4vw + 4vh + 2vmin); */
    cursor:default;
}
#arabic {
    font-family: "Reem Kufi", sans-serif;;
    font-size: 8vw;
    cursor: default;
}

.horizontal_lists2{
    display: flex;
    list-style-type: none;
    margin: 0%;
    /* padding: 3%; */
    text-align: center;
    place-content: center;
}

.hightlights_lists{
    padding: 0%;
    display: flex;
    list-style-type: none;
    margin-top: 6%;
    /* margin-bottom: 4%; */
    /* padding: 3%; */
    text-align: center;
    place-content: center;
}

.hightlights_item{
    /* display: flex; */
    /* flex-direction: column; */
    border: 2px solid var(--border-colors);
    list-style-type: none;
    height: 51vh;
    width: 20vw;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: var(--highlights);
    color:var(--nav-font-color);
    /* padding: 3%; */
    text-align: center;
    place-content: center;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    /* border: 2px solid #000000; */
    overflow:hidden;
}

.hightlights_item:hover{
    transform: scale(1.02);
    /* border: 1px solid black; */
}

.hightlights_lists a {
    /* cursor: pointer; */
    display: flex;
    justify-content: center;
    width:20vw;
    height:51vh;
} 

.highlight_images{
    border-radius: 20px;
    max-height: 90%;
    max-width: 90%;
    /* width: 200px; */
    height: 20%;
}

.highlight_description {
    padding:5%;
    font-size: 1.2vw;
    font-weight: bolder;
    cursor: pointer;
}
.highlight {
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 0;
    margin-top: 5%;
    font-weight: bold;
}

li{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img_pp {    
    width: 11vw;
    /* height: 200%; */
    /* width: 25vw;
    height: 25vw; */
    scale: 1.1;
}
.div_pp_side_page {    
    height: 14.5vw;
    /* width:auto; */
    /* scale: 0.9; */
    /* margin: 1% */
}
.img_pp_side_page {   
    max-height:100%;
    max-width:100%;
    width:11vw;
    scale: 1.2;
    /* margin: 1% */
}

.semicircle {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    z-index: 1;
    background-color:var(--footer-bar);
}

.top_bar{
    /* height: 30vh; */
    background-color: var(--top-bar);
    color: var(--bar-font-color);
    font-weight: bolder;
    display: flex;
    text-align: center;
    place-content: center;
    cursor: default;
    height: 30vh;
}

.projects_header {
    background-color: var(--project);
    border-bottom: 2px solid var(--border-colors);
    margin: 0%;
    color: var(--project-font-color);
    font-weight: bold;
    text-align: center;
    place-content: center;
    align-items: center;
    /* display: flex;  */
    font-size: 2.8vw;
    /* height: 6vh; */
    padding-bottom: 0.3%;
    position: sticky;
    top: 0;
    cursor: default;
    z-index: 1;
}
.standalone_project {
    background-color: var(--project);
    color: var(--project-font-color);
    margin: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left; 
    font-size: 2.2vw;
    /* border-left: 2px solid var(--border-colors);  */
    text-align: center;
}
.standalone_project h2 {
    margin-right: 2%;
    margin-left: 2%;
}

.standalone_project .description {
    text-align: left;
    background-color: #FEE0E0;
    color: black;
    font-weight: 500;
    font-size: 1.3vw;
    border-radius: 15px;
    margin: 5%;
    border: 2px solid black;
    cursor: default;
    overflow: hidden;
    /* justify-content: center; */
    text-align: center;
}

.standalone_project video {
    height:none;
    border-radius: 20px;
    width:50%;
    height: auto;
    
}
.standalone_project .description h3{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
}

.standalone_project .description h3 ~ p{
    margin-left: 7%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
}
.standalone_project .description h4{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
    text-decoration: underline;
}
.standalone_project .description h4 ~ p{
    margin-left: 12%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
}
.standalone_project .description h4 ~ ol {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
}

.standalone_project .description ol li {

    text-align: left;
    justify-content: left;
}

.standalone_project .description p{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: left;
}

.standalone_project .description img{
    max-width: 70%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.standalone_project .description .result_imgs{
    max-width: 50%;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.standalone_project p {
    font-size: 1.2vw;
    margin: 5%;
}

.icon_img {
    max-width: 75%;
    /* max-height: 75%; */
    /* height:6vh; */
    width:3.3vw;
    cursor: pointer;
}

.icon_img2 {
    /* height: 6vh; */
    width: 3.5vw;
    max-width: 75%;
    max-height: 75%;
    cursor: pointer;
}

.center {
    display: grid;
    /* height: 70vh; */
    grid-template-columns: 2fr 5fr;
    /* grid-template-rows: 22fr 2fr; */
    background-color: var(--background);
    /* z-index: 1; */
}


.center_side_page {
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: var(--background);
}
.center_left {
    display: grid;
    grid-template-rows: 22fr 2fr;
    height: 70vh;
}
.center_left_side_page {
    display: grid;
    grid-template-rows: 2.22fr 4.58fr 0.42fr;
    height: 100vh;
    /* width: 29%; */
    position: sticky;
    top:0;
}

.center_right {
    display: grid;
    grid-template-rows: 2fr 22fr;
    height: 70vh;
}
.center_right_side_page {
    /* width: 71%; */
    display: flex;
    flex-direction: column;
    grid-template-rows: 2fr 22fr;
    /* height: 100vh; */
}

.highlights {
    /* background-color: #383838; */
    position: relative;
    /* display: flex; */
    margin-bottom: 2%;
}

.projects {
    /* background-color: #383838; */
    position: relative;
    /* display: flex; */
    margin-bottom: 2%;
}

.projects_list {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 2%;
    /* margin-bottom: 4%; */
    /* padding: 3%; */
    padding-left: 0%;
    text-align: center;
    place-content: center;
}

.project_item {
    /* display: flex; */
    /* flex-direction: column; */
    border: 2px solid var(--border-colors);
    list-style-type: none;
    justify-content: left;
    width: 90%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--highlights);
    color:var(--nav-font-color);
    /* padding: 3%; */
    text-align: left;
    place-content: left;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    /* border: 2px solid #000000; */
}

.project_item:hover {
    transform: scale(1.02);
}

.project_item video {
    /* margin-left: 1%; */
    border-radius: 20px;
    /* height: 17vh; */
    margin: 1%;
    width: 22%;
    object-fit:cover;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--nav-font-color);
    margin: 0.75em 0;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 5%;
}

#li_pad {
    /* padding-top: 1%; */
    padding-left: 2vw;
}

.nav_bar {
    background-color: var(--nav-bar);
    color: var(--nav-font-color);
    padding: 5%;
    text-align: center;
    padding-left: 15%;
    padding-right: 10%;
    font-weight:500;
    font-size: 1.3vw;
    border-right: 2px solid var(--border-colors);
    z-index: 1;
}


.profile_bar {
    text-align: center;
    background-color: var(--nav-bar);
    border-right: 2px solid var(--border-colors);
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav_p {
    text-align: right;
    margin-top: 2%;
    cursor:default;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--footer-bar);
    color: var(--footer-font-color);
    font-size: 1.2vw;
    font-weight: bold;
    /* padding-top: 4%; */
    padding-left: 20%;
    text-align: center;
    place-content: center;
    border-right: 2px solid var(--border-colors)
    /* background-color: white; */
    /* clip-path: ellipse(5vh 100% at 5vh 0); */
}
.home_page_body {
    display: grid;
    grid-template-rows: 2.145fr 5fr;
}
body {
    /* margin: 0 0 100vh 0; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
    /* display: flex;
    flex-direction: column; */
    /* z-index: 0; */
}

.watermelon_container {
    position: relative;
    display: inline-block;
    transform-origin: top left;
    scale: 0.85;
}

#watermelon {
    top:0%;
    left:0%;
    max-width: 75%;
    max-height: 75%;

    transform: rotate(140deg);
    cursor: pointer;
    /* height: 100%; */
}

#pp {
    cursor: pointer;
    border-radius: 50%;
}

#pp:hover{
    box-shadow: 0 0 0 2px white;

    box-sizing:border-box;
}
#pp:hover::after{
    position: absolute;
}

.name_icon {
    /* font-size: 20vh; */
    font-weight: bold;
    color: #ffffff83;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.highlight_description_box {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    background-color: #0088ff;
    border:2px solid #005baa;
}

.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 30px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1vw;
  font-weight: 700;
  margin-right: 1.5px;
  margin-left: 1.5px;
  margin-bottom: 3px;
  /* line-height: 33.4929px; */
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  /* padding: 2px 12px; */
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.code-button {
    border-radius: 30px;
    background-color: var(--footer-bar);
    border: 1px solid var(--footer-bar);
    width: 7vw;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    display:flex;
    font-size: 1vw;
    margin-right:1%;
    margin-left:1%;
    display: flex;
    align-items: center;
}

.code-button img {
    height: 22px;
    width: 30%;
    margin: 5%;
}

.code-button:hover{
    box-shadow: 0 0 0 2px white;

    box-sizing:border-box;
}
.code-button:hover::after{
    position: absolute;
}

a:has(button){
    all: unset;
}

#cpp {
    color: var(--CPP-color);
    border-color: var(--CPP-color);
}

#iiid {
    color: var(--scanning-color);
    border-color: var(--CPP-color);
}

#cuda {
    color: var(--Cuda-color);
    border-color: var(--Cuda-color);
}

#python {
    color: var(--Python-color);
    border-color: var(--Python-color);
}

#ros {
    color: var(--ROS-color);
    border-color: var(--Ros-color);
}

#sklearn {
    color: var(--sklearn-color);
    border-color: var(--sklearn-color);
}

#pytorch {
    color: var(--pytorch-color);
    border-color: var(--pytorch-color);
}

#pytorchG {
    color: var(--pytorchG-color);
    border-color: var(--pytorchG-color);
}

#imfusion {
    color: var(--imfusion);
    border-color: var(--imfusion);
}

.programming_languages {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button_txt {
    cursor:default;
}

.description_bullet_points {
    text-align: left;
    background-color: #FEE0E0;
    color: black;
    font-weight: 500;
    font-size: 1.05vw;
    /* border-radius: 20px; */
    border-radius: 15px;
    width: 100%;
    height: 90%;
    margin: 5%;
    /* padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%; */
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.project_item img {
    margin-left: 1%;
    border-radius: 20px;
    /* width: 12vw; */
    /* height: 17vh; */
    margin: 1%;
    width:22%;
    object-fit:cover;
}


.highlight .description_bullet_points p {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    overflow: hidden;
}

.description_bullet_points p {
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 3%;
    font-size:1.05vw;
    overflow: hidden;
}

.description_bullet_points h3 {
    margin-left:2%;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 1.2vw;
}

.project_item .description_bullet_points {
    margin: 0%;
    height: 10vw;
    margin-left: 1%;
    margin-right: 2%;
    cursor:pointer;
    overflow: hidden;
}

.projects_list a {
    all: unset;
    display: flex;
    justify-content: center;
}

img,
picture,
video {
  max-width: 100%;
}

@media only screen and (max-width: 700px) {
    #pc {
        display: none;
    }
    .center_side_page {
        grid-template-columns: unset;
    }
    .home_page_body {
        width: 100vw;
        /* height: 100vh; */
        display:unset;
    }

    .top_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:unset;
        height:35dvh
    }

    .top_bar .horizontal_lists {
        margin: 0%;
        padding: 0%;
    }

    .top_bar img {
        margin-top: 10px;
        width: 100px;
    }

    #title {
        margin-right: 5%;
        margin-left: 5%;
        font-size: 55px;
        width:50%;
    }
    
    #arabic {
        margin-right: 7%;
        margin-left: 5%;
        font-size: 67px;
        width:50%;

    }
    
    .nav_bar {
        font-size: 15px;
        border-right: unset
    }

    #nav_p {
        text-align: right;
        font-size: 17px;
    }

    .center {
        display: unset;
        grid-template-columns: unset;
    }

    .center_left {
        height:65dvh;
        /* display: flex; */
        flex-direction: column;
    }

    .icon_img {
        width: 50px;
    }
    
    .icon_img2 {
        width: 50px;
    }

    footer {
        z-index: 1;
        font-size: 17px;
        border-right: unset;
        padding-left: 15%;
    }

}

@media only screen and (min-width: 700px) {
    #mobile {
        display: none;
    }


}