.vertical_lists{
    margin: 0%;
    padding: 0%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.horizontal_lists{
    display: flex;
    list-style-type: none;
    margin: 0%;
    text-align: center;
    place-content: center;
}

.horizontal_lists2{
    display: flex;
    list-style-type: none;
    margin: 0%;
    /* padding: 3%; */
    text-align: center;
    place-content: center;
}

li{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    position: relative;
}

img {    
    max-width: 75%;
    max-height: 75%;
}

.semicircle {
    top: 8%;
    left: -10%;
    position: absolute;
    width: 90%;
    height: 55%;
    clip-path: ellipse(48% 100% at 50% 0);
    rotate: 135deg;
    z-index: 1;
    background-color:#023047;
}

.top_bar{
    height: 30vh;
    background-color: #023047;
    color: white;
    font-size: 500%;
    font-weight: bolder;
    display: flex;
    text-align: center;
    place-content: center;
}

.projects_header {
    background-color: #FF1744;
    margin: 0%;
    color: white;
    font-weight: bold;
    text-align: center;
    place-content: center;
    align-items: center;
    display: flex; 
    font-size: 200%;
    height: 6vh;
    /* padding-top: 1%; */
}

.icon_img {
    height: 10vh;
    width: 10vh;
    cursor: pointer;
}

.icon_img2 {
    height: 7vh;
    width: 7vh;
    cursor: pointer;
}

.links {
    display: flex;
    text-align: center;
    place-content: center;
}

.center {
    display: grid;
    height: 70vh;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 22fr 2fr;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 0.75em 0;
    padding: 0;
}

#li_pad {
    /* padding-top: 1%; */
    padding-left: 5vh;
}

.nav_bar {
    background-color: #FB8500;
    color: white;
    padding: 5%;
    text-align: right;
    padding-left: 15%;
    padding-right: 10%;
    font-weight:500;
    font-size: 110%;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #023047;
    color: white;
    font-size: 105%;
    font-weight: bold;
    /* padding-top: 4%; */
    padding-left: 20%;
    text-align: center;
    place-content: center;
    /* background-color: white; */
    /* clip-path: ellipse(5vh 100% at 5vh 0); */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
    border: black;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.watermelon_container {
    position: relative;
    display: inline-block;
    transform-origin: top left;
    scale: 0.85;
}

#watermelon {
    top:0%;
    left:0%;
    transform: rotate(315deg);
    cursor: pointer;
    /* height: 100%; */
}

#pp {
    cursor: pointer;
}

.name_icon {
    /* font-size: 20vh; */
    font-weight: bold;
    color: #ffffff83;
}
